[submodule "libs/shaderc"]
	path = libs/shaderc
	url = https://github.com/google/shaderc.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/spirv-tools"]
	path = libs/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "libs/spirv-headers"]
	path = libs/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "libs/glslang"]
	path = libs/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm.git
