#gitignore

#c/c++
*.o
*.out
.ccls
.ccls-cache

#SPIRV
*.spv

#vscode
*[V][v][S][s][C][c][O][o][D][d][E][e]*
.vscode
*.vscode
vscode*
*.code-workspace
vgcore*

#clangd
compile_commands.json
.clangd
!*.[Cc]ache/**

#project
build
bin
