#gitignore

#c/c++
*.o
*.out
.ccls
.ccls-cache

#SPIRV
*.spv

#vscode
*[V][v][S][s][C][c][O][o][D][d][E][e]*
.vscode
*.vscode
vscode*
*.code-workspace
.cache
vgcore*

compile_commands.json
.clangd

#project
build
bin
